.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 109px;
  align-items: center;
  padding: 92px 49px 92px 51px;
}
.header__links-list {
  display: flex;
  gap: 32px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}
.header__address {
  padding-left: 355px;
}
.address {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}
.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  inset: 0;
}
.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding-top: 165px;
}
.aligned-text {
  display: block;
  margin-left: 50px;
}
.aligned-text.aligned-text_center {
  text-align: center;
  margin-top: 20px;
}
.aligned-text.aligned-text_right {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 135px;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: baseline;
  gap: 78px;
  justify-content: end;
}
.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  text-align: center;
  word-spacing: 18px;
}
.bet-button {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.lots {
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
}
.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 50px;
}
.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.card-link {
  text-decoration: none;
  display: block;
}
.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
}
.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 30px;
  margin-left: 40px;
}
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  max-width: 1440px;
  margin-top: 182px;
  margin-left: 50px;
  margin-right: 50px;
  column-gap: 25px;
}
.about_logo {
  background-color: #000000;
  border-radius: 50%;
  margin: 0 95px;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.about__logo-image {
  width: 148px;
}
.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
}
.about__text {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  row-gap: 25px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 180px 50px 90px 50px;
}
.footer_address {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: start;
  max-width: 240px;
}
.footer_menu-list {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 149px;
}
.footer__menu-list-item {
  list-style: none;
}
.footer__social-list {
  list-style: none;
  display: flex;
  gap: 44px;
  margin-left: 355px;
}
.footer__social-link {
  display: block;
  width: 48px;
}
